In [ ]:
# 了解一下dask

In [1]:
import pandas as pd
import pandas_profiling as ppf

ModuleNotFoundError: No module named 'pandas_profiling'

In [2]:
train_data = pd.read_csv("data/second_round_training_data.csv")
test_data = pd.read_csv("data/second_round_testing_data.csv")

In [3]:
train_data.head()

,Parameter1,Parameter2,Parameter3,Parameter4,Parameter5,Parameter6,Parameter7,Parameter8,Parameter9,Parameter10,...,Attribute2,Attribute3,Attribute4,Attribute5,Attribute6,Attribute7,Attribute8,Attribute9,Attribute10,Quality_label
0,0.167898,104.443982,2.772825,0.146548,0.000421,0.000612,2286.523413,0.035407,0.593081,1.010385,...,2.597820,41.506485,36.955992,8.454598,11.438066,177.243120,338.729256,2.021704,0.079526,Pass
1,252.483066,0.343232,0.066873,0.002495,0.000909,0.002397,2286.523413,0.035407,0.593081,1.010385,...,0.004243,0.135967,225.632949,0.481860,20597.447822,3.723330,15.376190,0.986973,4.634376,Fail
2,4.124654,0.170534,0.383800,0.000004,0.000909,0.001972,2286.523413,0.035407,0.593081,1.010385,...,0.951186,0.000423,2.208138,0.073525,236.079314,0.064196,0.576302,33.875790,1.813727,Fail
3,294.656750,6.153711,0.014716,4284.326273,0.000909,0.002397,2286.523413,0.035407,0.593081,1.010385,...,0.000122,0.000084,0.654517,0.025872,176.948915,0.029777,0.246726,27.117165,0.081819,Fail
4,0.026284,0.166810,7.587398,0.002202,0.000909,0.002397,2286.523413,0.035407,0.593081,1.010385,...,0.827308,0.040846,0.260989,0.009380,194.798039,0.055053,0.014725,13.569707,18.138496,Fail

In [4]:
# 一、 查看数据具体内容

1. # 查看数据是否有确实
train_data.isnull().sum()

Parameter1       0
Parameter2       0
Parameter3       0
Parameter4       0
Parameter5       0
Parameter6       0
Parameter7       0
Parameter8       0
Parameter9       0
Parameter10      0
Attribute1       0
Attribute2       0
Attribute3       0
Attribute4       0
Attribute5       0
Attribute6       0
Attribute7       0
Attribute8       0
Attribute9       0
Attribute10      0
Quality_label    0
dtype: int64

In [5]:
# 2. 查看某一列数据是否有缺失
train_data.Parameter1.isnull().sum() # 先判断是否有空，然后再统计个数

0

In [7]:
# 3. 数据类型查看 -- 明白数据类型转换
train_data.dtypes

Parameter1       float64
Parameter2       float64
Parameter3       float64
Parameter4       float64
Parameter5       float64
Parameter6       float64
Parameter7       float64
Parameter8       float64
Parameter9       float64
Parameter10      float64
Attribute1       float64
Attribute2       float64
Attribute3       float64
Attribute4       float64
Attribute5       float64
Attribute6       float64
Attribute7       float64
Attribute8       float64
Attribute9       float64
Attribute10      float64
Quality_label     object
dtype: object

In [9]:
# 4. 数据大小查看
train_data.info() # 查看具体的信息内容
len(train_data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12934 entries, 0 to 12933
Data columns (total 21 columns):
Parameter1       12934 non-null float64
Parameter2       12934 non-null float64
Parameter3       12934 non-null float64
Parameter4       12934 non-null float64
Parameter5       12934 non-null float64
Parameter6       12934 non-null float64
Parameter7       12934 non-null float64
Parameter8       12934 non-null float64
Parameter9       12934 non-null float64
Parameter10      12934 non-null float64
Attribute1       12934 non-null float64
Attribute2       12934 non-null float64
Attribute3       12934 non-null float64
Attribute4       12934 non-null float64
Attribute5       12934 non-null float64
Attribute6       12934 non-null float64
Attribute7       12934 non-null float64
Attribute8       12934 non-null float64
Attribute9       12934 non-null float64
Attribute10      12934 non-null float64
Quality_label    12934 non-null object
dtypes: float64(20), object(1)
memory usage: 2.1+ MB

12934

In [ ]:
# 5. 自动化EDA工具 -- 主要看警告 EDA[数据探索]
ppf.ProfileReport(train_data)  
# 看偏度 -- 偏度书需要去偏操作
# 相关性 -- 看有没有冗余特征 【相关性非相关，则没有冗余特征，做特征工程就比较好做，只需要去偏度】

In [12]:
test_data.describe() # 对数据整体性的统计

,Group,Parameter1,Parameter10,Parameter2,Parameter3,Parameter4,Parameter5,Parameter6,Parameter7,Parameter8,Parameter9
count,6000.0000,6.000000e+03,6000.000000,6000.000000,6.000000e+03,6.000000e+03,6000.000000,6.000000e+03,6000.000000,6000.000000,3.000000e+03
mean,59.5000,8.265658e+03,43.034446,126.223368,2.994860e+03,1.212453e+05,6.937771,6.559966e+00,184.351056,43.946117,1.738836e+05
std,34.6427,2.487136e+05,211.335566,1738.767879,8.078260e+04,5.416637e+06,9.921864,8.560064e+00,1333.057844,1279.488170,5.494466e+06
min,0.0000,8.420000e-08,0.001024,0.000021,4.040000e-08,2.490000e-08,0.000002,5.070000e-09,0.000624,0.015863,3.962830e-04
25%,29.7500,7.400040e-02,0.101478,0.117208,7.070190e-02,5.276081e-02,0.923947,6.854116e-01,0.152059,0.035407,5.930812e-01
50%,59.5000,9.988808e-01,1.403055,0.997680,9.449328e-01,9.589123e-01,2.484379,3.262468e+00,0.600827,2.931083,5.930812e-01
75%,89.2500,1.195355e+01,13.969790,9.050826,1.495138e+01,1.584287e+01,7.456215,8.650538e+00,2.374035,17.850021,6.783967e+00
max,119.0000,1.396008e+07,13789.079120,92366.836240,5.027128e+06,4.019258e+08,83.671947,4.117541e+01,35698.591550,66984.723640,1.738083e+08